#!/bin/bash

{# Add all of the user-requested directives #}
{% for directive in directives -%}
#SBATCH {{ directive }}
{% endfor -%}
{#- Lastly, add the array directive based off of the number of items in the query #}
{#- Also add a maximum number of simultaneous jobs #}
{#- See https://slurm.schedmd.com/sbatch.html#OPT_array for further details #}
#SBATCH --array 0-{{ (jsons | length) - 1 }}%{{ max_simultaneous_jobs | default(32) }}

ITEM_ARRAY=(
{% for item in jsons -%}
  {{ item }}
{% endfor -%}
)


# set anaconda install path.
# enable locating the source code of these scripts
export PATH=/bin:$PATH
export PATH=/allen/aics/animated-cell/Dan/anaconda3/bin:$PATH
export PYTHONPATH=$PYTHONPATH:/home/danielt/cellbrowserpipeline/cellbrowser-tools:/home/danielt/cellbrowserpipeline/cellbrowser-tools/uploader

source activate /allen/aics/animated-cell/Dan/venvs/ace

{# srun the script, and add the item to the end of the script call #}
srun python {{ cwd }}/processImageWithSegmentation.py ${ITEM_ARRAY[$SLURM_ARRAY_TASK_ID]}