#!/bin/bash

{# Add all of the user-requested directives #}
{% for directive in directives -%}
#SBATCH {{ directive }}
{% endfor -%}
{#- Lastly, add the array directive based off of the number of items in the query #}
{#- Also add a maximum number of simultaneous jobs #}
{#- See https://slurm.schedmd.com/sbatch.html#OPT_array for further details #}
#SBATCH --array 0-{{ (infiles | length) - 1 }}%{{ max_simultaneous_jobs | default(32) }}

ITEM_ARRAY=(
{% for item in infiles -%}
  {{ item }}
{% endfor -%}
)

OUT_ARRAY=(
{% for item in outfiles -%}
  {{ item }}
{% endfor -%}
)

LABEL_ARRAY=(
{% for item in labels -%}
  {{ item }}
{% endfor -%}
)

# set anaconda install path.
# enable locating the source code of these scripts
export PATH=/bin:$PATH
export PATH=/allen/aics/animated-cell/Dan/anaconda3/bin:$PATH
export PYTHONPATH=$PYTHONPATH:/home/danielt/cellbrowserpipeline/cellbrowser-tools

source activate /allen/aics/animated-cell/Dan/venvs/ace

{# srun the script, and add the item to the end of the script call #}
srun python {{ cwd }}/make_one_thumbnail.py ${ITEM_ARRAY[$SLURM_ARRAY_TASK_ID]} ${OUT_ARRAY[$SLURM_ARRAY_TASK_ID]} --size 128 --channels {{ channels }} --mask 5 --projection max --label ${LABEL_ARRAY[$SLURM_ARRAY_TASK_ID]}
